*.pyc
*.png
*.log
.DS_Store
documents/
data/
data2/
data3/
malware/
database/
additional-resources/
.*/
/output/graph.json
/output/sample_infected
/output/graph500.json
/output/graph500-2.json
/output/test.txt
/output/graph2.json
